table {
    width: 90%;
}

td {
    width: 20%;
    vertical-align: top;
}

input, label, textarea {
    display: block;
}

.deckItem {
    border-radius: 10px;
}

#description {
    width: 70%;
    height: 300px; 
}

#front, #back {
    width: 70%;
    height: 100px;
}

.deckNameCountTable {
    width: 100%;
}

.deckCount {
    text-align: right;
}